<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="~{fragments/navHeader :: navigation-header}">

</div>
<body>
<h1 th:text="${clubEvent.getClubEventName()}+' Details'" ></h1>

<p><strong>Event Description :</strong> <span th:text="${clubEvent.getClubEventDescription()}"/><br></p>
<p><strong>Event Location :</strong> <span th:text="${clubEvent.getLocation()}"/><br></p>
<p> <strong> Event Start Date: </strong> <span th:text="${clubEvent.getStartDate()}"/><br></p>


<div class="grid-container">
<div class="left-table">
<h2> Going: </h2>
<div class="scroll-table">
<table class="table table-hover" th:unless="${clubEvent.getAttendanceList().isEmpty()}">
<thead>
    <tr>


        <th> Name</th>
        <th>Email</th>



    </tr>

</thead>
    <tr th:each="clubEventAttendance: ${clubEvent.getAttendanceList()}">





        <td th:if="${clubEventAttendance.getAttendance()==true}"
            th:text="${clubEventAttendance.getClubMember().getFirstName()}+' '+
            ${clubEventAttendance.getClubMember().getLastName()}"></td>
        <td th:if="${clubEventAttendance.getAttendance()==true}"
            th:text="${clubEventAttendance.getClubMember().getEmail()}"></td>







    </tr>


</table>
</div>
</div>

<div class="right-table">
<h2> Not Going: </h2>
<div class="scroll-table">
<table class="table table-hover" th:unless="${clubEvent.getAttendanceList().isEmpty()}">
<thead>
    <tr>


        <th> Name</th>
        <th>Email</th>



    </tr>
</thead>

    <tr th:each="clubEventAttendance: ${clubEvent.getAttendanceList()}">





        <td th:if="${clubEventAttendance.getAttendance()==false}"
            th:text="${clubEventAttendance.getClubMember().getFirstName()}+' '+
            ${clubEventAttendance.getClubMember().getLastName()}"></td>
        <td th:if="${clubEventAttendance.getAttendance()==false}"
            th:text="${clubEventAttendance.getClubMember().getEmail()}"></td>







    </tr>


</table>
</div>
</div>


<script th:inline="javascript">


    let attendingCount = [[${attendingCount}]];
    let notAttendingCount=[[${notAttendingCount}]];
    let attendanceNotRecordedCount=[[${attendanceNotRecordedCount}]];

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(function () {
        drawClubEventAttendanceChart(attendingCount,notAttendingCount,attendanceNotRecordedCount);
    });


</script>

<div id="clubEventAttendance-piechart"></div>


</div>

</body>
</html>